<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} -%kvp- %msg %n</pattern>
        </encoder>
    </appender>

    <root>
        <appender-ref ref="STDOUT" />
    </root>

    <condition class="ch.qos.logback.core.boolex.IsPropertyDefinedCondition">
        <key>LOG_PROPERTIES</key>
    </condition>
    <if>
        <then>
            <propertiesConfigurator file="${LOG_PROPERTIES}"/>
        </then>
        <else>
            <propertiesConfigurator resource="logback.properties"/>
        </else>
    </if>
</configuration>
